@import "variables";

.header {
  height: 50px;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(99, 93, 93));
  color: white;
  font-family: Helvetica;
  text-align: center;
  margin: 15px;
  padding: 5px;
}
